# -----------------------------
# 1. Imports
# -----------------------------

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as plt

# -----------------------------
# 2. Generate dataset
# -----------------------------

In [3]:
np.random.seed(42)

n = 1000

data = pd.DataFrame({
    "age": np.random.randint(18, 70, n),
    "tenure_months": np.random.randint(1, 60, n),
    "monthly_usage_hours": np.random.exponential(scale=20, size=n).astype(int),
    "support_tickets": np.random.poisson(lam=1.5, size=n),
    "payment_delay_days": np.random.poisson(lam=2, size=n),
})

# Churn probability based on behaviour patterns
data["churn"] = (
    (data["tenure_months"] < 12).astype(int) +
    (data["monthly_usage_hours"] < 10).astype(int) +
    (data["support_tickets"] > 3).astype(int) +
    (data["payment_delay_days"] > 5).astype(int)
)

# Convert to binary churn flag
data["churn"] = (data["churn"] > 1).astype(int)

print("Sample of generated data:")
data.head()

Sample of generated data:

,age,tenure_months,monthly_usage_hours,support_tickets,payment_delay_days,churn
0,56,35,79,0,2,0
1,69,51,19,0,3,0
2,46,15,6,1,3,0
3,32,25,20,2,4,0
4,60,55,15,2,1,0

# -----------------------------
# 3. Train-test split
# -----------------------------

In [4]:
X = data.drop("churn", axis=1)
y = data["churn"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42
)

# -----------------------------
# 4. Scaling
# -----------------------------

In [5]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# -----------------------------
# 5. Logistic Regression model
# -----------------------------

In [6]:
model = LogisticRegression()
model.fit(X_train_scaled, y_train)

y_pred = model.predict(X_test_scaled)
y_prob = model.predict_proba(X_test_scaled)[:, 1]